.vscode/**
.vscode-test/**
.vscode-test.mjs
.gitignore
build/**
src/**
out/**
node_modules/**
sampleWorkspace/**
eslint.config.mjs
tsconfig.json
package-lock.json
publishing.txt
plan-*.md
**/*.vsix
**/*.map
**/*.ts